* {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "open Sans", sans-serif;
}

a {
    text-decoration: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
}

div {
    display: block;
}

h4 {
    font-weight: 500;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.notify {
    width: 70%;
    font-weight: 500;
    height: 45px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(50, 130, 80);
    border-radius: 20px;
}

.notify input {
    margin-left: 30px;
    width: 50%;
    border-width: initial;
    border-style: none;
    border-color: initial;
    font-weight: 500;
    outline: none;
}

.notify button {
    background-color: #328250;
    color: white;
    width: 120px;
    margin-top: 3px;
    height: 35px;
    margin-left: 34px;
    outline: none;
    border-radius: 20px;
    border-style: none;
}

input::placeholder {
    font-size: 16px;
    padding-left: 10px;
}

.content p {
    margin-top: 20px;
    font-size: 16px;
}

.content {
    margin-top: 100px;
}

.content h1 {
    font-size: 50px;
    line-height: 60px;
}

.social-icon {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 0.6rem;
    border-width: 2px;
    border-style: solid;
    border-color: #328250;
    border-image: initial;
    border-radius: 50px;

}

.social-icon+.social-icon {
    margin-left: 10px;
}

.social-icon i {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #328250;
}

.contact.info i {
    font-size: 20px;
    color: #328250;
    float: left;
    width: 44px;
    height: 44px;
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: rgb(231, 245, 251);
    border-radius: 50px;
    transition: all 0.3s ease-in-out 0s;
}

.contact.info {
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 24px 0px;
    border-top: 0px 3px solid #328250;
    padding: 30px;


}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #328250;
}

.contact .info {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 24px 0px;
    border-top: 3px solid rgb(50, 130, 80);
    border-bottom: 3px solid rgb(50, 130, 80);
    padding: 30px;
    background: rgb(255, 255, 255);
}

.contact.info h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: black;
    padding: 0px 0px 0px 60px;
}

.contact .php-email-form {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 24px 0px;
    border-top: 3px solid rgb(50, 130, 80);
    border-bottom: 3px solid rgb(50, 130, 80);
    padding: 30px;
    background: rgb(255, 255, 255);
}

form {
    display: block;
    margin-top: 0emS;
}